[*.cs]

# CS8601: Possível atribuição de referência nula.
dotnet_diagnostic.CS8601.severity = none

# CS8602: Desreferência de uma referência possivelmente nula.
dotnet_diagnostic.CS8602.severity = silent
